<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonette.seed">

    <application
        android:name=".Launcher.Launcher"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Core.JasonViewActivity" android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Uncomment below line and add your Google Maps API key -->
        <!--
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="YOUR GOOGLE MAPS API KEY HERE"/>
        -->
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Uncomment below line to enable $util.addressbook -->
    <!--
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    -->

    <!-- Uncomment below lines to enable $geo.get -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->

</manifest>
